*.class
*.log
*.scala~
*.md~


# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

#
.cache
.classpath
.project
*/.settings/**

.idea
.idea_modules

fiducia_aa.properties
fiducia_aa_plane.properties
